<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
    th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

<title>Listado Docentes</title>
</head>
<body>
    <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Legajo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="docente : ${listadoDocentes}">
          <td th:text="${docente.legajo}"></td>
          <td th:text="${docente.nombre}"></td>
          <td th:text="${docente.apellido}"></td>
          <td th:text="${docente.email}"></td>
          <td th:text="${docente.telefono}"></td>
          <td th:text="${docente.estado}"></td>
              <td>
                <a th:href="@{'/borrarDocente/'+${docente.legajo}}" class="btn btn-danger">Borrar</a>                    
                <a th:href="@{'/editarDocente/'+${docente.legajo}}" class="btn btn-warning">Modificar</a>
            </td>
        </tr>
       </tbody>
    </table>
    </div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>